*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(68, 68, 68, 1);
    color: rgba(238, 238, 238, 1);
    font-family: 'Courier New', Courier, monospace
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.game-name{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title-position{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number{
    margin-top: 204px;
    width: 180px;
    height: 150px;
    background-color: white;
    color: #222222;
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin-top: 220px;
    margin-left: 360px;
} 

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 25px;
}